<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    [CONFIDENTIAL]
  </p>
  <p>

  <% if user.role == 'normal' %>
    Role: Normal
  <% elsif user.role == 'super' %>
    Role: Supervisor
  <% elsif user.role == 'exec' %>
    Role: Executive
  <% else %>
    <%= user.role %>
    Role: Administrator
  <% end %>
  </p>

</div>
