<% if current_user.role == 'admin' || current_user.role == 'super' %>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-outline-warning' %> |
  <%= link_to "Back to users", users_path, class: 'btn btn-outline-warning' %>

  <%= button_to "Destroy this user", @user, method: :delete, class: 'btn btn-outline-warning' %>
</div>
<% else %>
  <p style="color: red">You cannot access this data as a normal user.</p>
<% end %>
