<h1>Welcome to the Ticket Management System</h1>

<p>
  This is a ticket management system that allows users to submit and track support tickets. It provides a streamlined workflow for support executives, supervisors, and administrators to manage and resolve customer issues efficiently.
</p>

<h2>Quick Links</h2>
<ul>
  <li><%= link_to 'View All Tickets', tickets_path %></li>
  <li><%= link_to 'Create New Ticket', new_ticket_path %></li>
  <li><%= link_to 'User Profiles', users_path %></li>
  <li><%= link_to 'Reports', reports_path %></li>
</ul>
