<h1>Editing ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Show this ticket", @ticket, class: 'btn btn-outline-warning' %> |
  <%= link_to "Back to tickets", tickets_path, class: 'btn btn-outline-warning' %>
</div>
